.titre_responsive {
    font-size: 0.8em;
}

.description_nav {
    width: 80%;
    font-size: 0.8em;
    margin: 0 10% 0 10%;
}

.propos {
    width: 90%;
    font-size: 0.8em;
    margin: 0 5% 0 5%;
}

.paul_valery,
.recommandation {
    width: 60%;
    margin: 0 20% 10% 20%;
}