.container {
    width: auto;
    height: auto;
    margin: auto;
}

.photo img {
    margin: 15% 18% 0 18%;
    width: 320px;
    height: 320px;
    border-radius: 160px;
}

.separateur {
    font-size: 2rem;
    padding: 3% 0 3% 0;
}

.description_nav {
    font-size: 2rem;
    width: 80%;
    margin: 0 10% 5% 10%;
}

.propos {
    width: 70%;
    font-size: 2rem;
    margin: 0 15% 2% 15%;
}

.container_fontawesome {
    font-size: 5rem;
}

.titre_principal {
    font-size: 2.5rem;
}

.titre,
.projet,
.description,
.container_article,
.recommandation {
    font-size: 2rem;
}

a {
    font-size: 2rem;
}

.titre_principal,
.titre {
    border-bottom: 2px solid black;
}

.paul_valery,
.openclassrooms {
    width: 20%;
    text-align: center;
    margin-right: 15%;
}

.recommandation {
    margin: 0 15% 0 15%;
}