.description_nav,
.competence_openclassrooms {
    width: 60%;
    margin: 0 20% 0 20%;
}

.propos {
    width: 70%;
    margin: 0 15% 0 15%;
}

.titre {
    width: 90%;
    margin: 0 5% 0 5%;
}

.projet {
    width: 70%;
}

.paul_valery {
    width: 50%;
    margin: 0 25% 0 25%;
}

.description_paul_valery {
    width: 70%;
    margin: 0 15% 0 15%;
}

.competence_paul_valery {
    width: 80%;
    margin: 0 10% 0 10%;
}

.openclassrooms {
    width: 50%;
    margin: 0 25% 0 25%;
}

.description_openclassrooms {
    width: 90%;
    margin: 0 5% 0 5%;
}

.recommandation {
    width: 50%;
    margin: 0 25% 10% 25%;
}