.description_nav {
    width: 50%;
    margin: 0 25% 0 25%;
}

.propos {
    width: 55%;
    margin: 0 22.5% 0 22.5%;
}

.projet {
    width: 70%;
}

.paul_valery {
    width: 50%;
    margin: 0 25% 0 25%;
}

.description_paul_valery {
    width: 60%;
    margin: 0 20% 0 20%;
}

.openclassrooms {
    width: 50%;
    margin: 0 25% 0 25%;
}

.description_openclassrooms {
    width: 60%;
    margin: 0 20% 0 20%;
}

.competence_paul_valery {
    width: 100%;
    margin: 0;
}

.competence_openclassrooms {
    width: 100%;
    margin: 0;
}

.recommandation {
    width: 40%;
    margin: 0 30% 0 30%;
}