.description_nav {
    width: 35%;
    margin: 0 32.5% 0 32.5%;
}

.propos {
    width: 50%;
    margin: 0 25% 0 25%;
}

.paul_valery,
.openclassrooms {
    width: 30%;
    margin: 0 35% 0 35%;
}

.description_paul_valery {
    width: 40%;
    margin: 0 30% 0 30%;
}

.competence_openclassrooms {
    margin-left: 10%;
    width: 70%;
}

.container_recommandation {
    display: block;
}

.recommandation {
    width: 25%;
    margin: 5% 37.5% 5% 37.5%;
}

.description_openclassrooms {
    width: 50%;
    margin: 0 25% 0 25%;
}

.competence_openclassrooms {
    width: 60%;
    margin: 0 20% 0 20%;
}