.description_nav,
.propos,
.openclassrooms {
    width: 70%;
    margin: 0 15% 0 15%;
}

.titre {
    width: 100%;
    margin: 0;
}

.projet {
    width: 80%;
}

.description_paul_valery {
    width: 100%;
    margin: 0;
}

.description_openclassrooms {
    width: 100%;
    margin: 0;
}

.competence_openclassrooms {
    width: 80%;
    margin: 0 10% 0 10%;
}

.recommandation {
    width: 50%;
    margin: 0 25% 10% 25%;
}