.description_nav {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.propos {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.titre {
    width: 100%;
    margin: 0;
}

.projet {
    width: 80%;
}

.description_paul_valery {
    width: 100%;
    margin: 0;
}

.openclassrooms {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.description_openclassrooms {
    width: 100%;
    margin: 0;
}

.competence_openclassrooms {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.recommandation {
    margin-bottom: 10%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}