.description_nav {
    width: 35%;
    margin-left: 32.5%;
    margin-right: 32.5%;
}

.propos {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.paul_valery {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.description_paul_valery {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.openclassrooms {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.competence_openclassrooms {
    margin-left: 10%;
    width: 70%;
}

.container_recommandation {
    display: block;
}

.recommandation {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.description_openclassrooms {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.competence_openclassrooms {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}