.container {
    width: auto;
    height: auto;
    margin: auto;
}

.page_responsive {
    margin-top: 5%;
}

.container {
    display: inherit;
}

nav {
    display: block;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
}

.photo {
    display: none;
}

.separateur {
    margin: 0;
    padding: 1% 0 1% 0;
}

.description_nav {
    text-align: left;
    width: 22%;
    margin: 5% 39% 5% 39%;
}

.propos {
    width: 50%;
    margin: 5% 25% 5% 25%;
}

.container_article {
    display: block;
    margin: 5% 0 0 0;
}

.projet {
    width: 35%;
    margin-bottom: 2%;
}

.description {
    width: 90%;
    margin: 0 5% 0 5%;
}

.paul_valery,
.openclassrooms {
    width: 20%;
    margin: 0 40% 0 40%;
    text-align: center;
}

.description_paul_valery,
.description_openclassrooms {
    width: 35%;
    margin: 0 32.5% 0 32.5%;
    text-align: left;
}

.competence_paul_valery {
    width: 90%;
    margin: 0 5% 0 5%;
}

.competence_openclassrooms {
    width: 70%;
    margin: 0 15% 0 15%;
}

h4 {
    text-align: center;
}

.titre_responsive {
    display: inherit;
    font-family: 'Lobster-Regular', arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: 1px solid black;
    margin-top: 5%;
}

.titre_principal {
    display: none;
}

.recommandation {
    width: 20%;
    margin: 2% 15% 2% 15%;
}