.container {
    width: auto;
    height: auto;
    margin: auto;
}

.page_responsive {
    margin-top: 5%;
}

.container {
    display: inherit;
}

nav {
    display: block;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
}

.photo {
    display: none;
}

.separateur {
    margin: 0;
}

.description_nav {
    text-align: left;
    width: 25%;
    margin-left: 35.5%;
    margin-right: 35.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.propos {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.container_article {
    display: block;
    margin-top: 5%;
    margin-bottom: 0;
}

.projet {
    width: 35%;
    margin-bottom: -3%;
}

.description {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.paul_valery,
.openclassrooms {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}

.description_paul_valery,
.description_openclassrooms {
    width: 35%;
    margin-left: 32.5%;
    margin-right: 32.5%;
    text-align: left;
}

h4 {
    text-align: center;
}

.titre_responsive {
    display: inherit;
    font-family: 'Lobster-Regular', arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

img {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: 1px solid black;
    margin-top: 5%;
}

.titre_principal {
    display: none;
}

.recommandation {
    width: 20%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
}